<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="selectListCount">
SELECT COUNT(*) AS count FROM USER_INFO
WHERE STATUS = 'Y'
</entry>
<entry key="selectList">
SELECT USER_NO, USER_ID, USER_PWD, USER_NAME, USER_BIRTH, INTEREST_MOVIE, INTEREST_DISPLAY, INTEREST_SHOW, EMAIL, PHONE, GRADE_NO, STATUS
FROM (
    SELECT ROWNUM AS RN, USER_NO, USER_ID, USER_PWD, USER_NAME, USER_BIRTH, INTEREST_MOVIE, INTEREST_DISPLAY, INTEREST_SHOW, EMAIL, PHONE, GRADE_NO, STATUS
    FROM (
        SELECT USER_NO, USER_ID, USER_PWD, USER_NAME, USER_BIRTH, INTEREST_MOVIE, INTEREST_DISPLAY, INTEREST_SHOW, EMAIL, PHONE, GRADE_NO, STATUS
        FROM USER_INFO
        ORDER BY USER_NO DESC
    )
)
WHERE RN BETWEEN ? AND ?
</entry>
<entry key="searchMemberByUserNo">
SELECT USER_NO, USER_ID, USER_PWD, USER_NAME, USER_BIRTH, INTEREST_MOVIE, INTEREST_DISPLAY, INTEREST_SHOW, EMAIL, PHONE, GRADE_NO, STATUS
FROM (
    SELECT ROWNUM AS RN, USER_NO, USER_ID, USER_PWD, USER_NAME, USER_BIRTH, INTEREST_MOVIE, INTEREST_DISPLAY, INTEREST_SHOW, EMAIL, PHONE, GRADE_NO, STATUS
    FROM (
        SELECT USER_NO, USER_ID, USER_PWD, USER_NAME, USER_BIRTH, INTEREST_MOVIE, INTEREST_DISPLAY, INTEREST_SHOW, EMAIL, PHONE, GRADE_NO, STATUS
        FROM USER_INFO
        WHERE USER_NO = ?
        ORDER BY USER_NO DESC
    )
)
WHERE RN BETWEEN ? AND ?
</entry>
<entry key="searchMemberByUserId">
SELECT USER_NO, USER_ID, USER_PWD, USER_NAME, USER_BIRTH, INTEREST_MOVIE, INTEREST_DISPLAY, INTEREST_SHOW, EMAIL, PHONE, GRADE_NO, STATUS
FROM (
    SELECT ROWNUM AS RN, USER_NO, USER_ID, USER_PWD, USER_NAME, USER_BIRTH, INTEREST_MOVIE, INTEREST_DISPLAY, INTEREST_SHOW, EMAIL, PHONE, GRADE_NO, STATUS
    FROM (
        SELECT USER_NO, USER_ID, USER_PWD, USER_NAME, USER_BIRTH, INTEREST_MOVIE, INTEREST_DISPLAY, INTEREST_SHOW, EMAIL, PHONE, GRADE_NO, STATUS
        FROM USER_INFO
        WHERE USER_ID LIKE ?
        ORDER BY USER_NO DESC
    )
)
WHERE RN BETWEEN ? AND ?
</entry>
<entry key="searchMemberByUserName">
SELECT USER_NO, USER_ID, USER_PWD, USER_NAME, USER_BIRTH, INTEREST_MOVIE, INTEREST_DISPLAY, INTEREST_SHOW, EMAIL, PHONE, GRADE_NO, STATUS
FROM (
    SELECT ROWNUM AS RN, USER_NO, USER_ID, USER_PWD, USER_NAME, USER_BIRTH, INTEREST_MOVIE, INTEREST_DISPLAY, INTEREST_SHOW, EMAIL, PHONE, GRADE_NO, STATUS
    FROM (
        SELECT USER_NO, USER_ID, USER_PWD, USER_NAME, USER_BIRTH, INTEREST_MOVIE, INTEREST_DISPLAY, INTEREST_SHOW, EMAIL, PHONE, GRADE_NO, STATUS
        FROM USER_INFO
        WHERE USER_NAME LIKE ?
        ORDER BY USER_NO DESC
    )
)
WHERE RN BETWEEN ? AND ?
</entry>
<entry key="selectListCountByUserNo">
SELECT COUNT(*) AS count FROM USER_INFO
WHERE STATUS = 'Y' AND USER_NO = ?
</entry>
<entry key="selectListCountByUserId">
SELECT COUNT(*) AS count FROM USER_INFO
WHERE STATUS = 'Y' AND USER_ID LIKE ?
</entry>
<entry key="selectListCountByUserName">
SELECT COUNT(*) AS count FROM USER_INFO
WHERE STATUS = 'Y' AND USER_NAME LIKE ?
</entry>
<entry key="selectManagerMember">
SELECT e.USER_NO "user_no", e.USER_ID "user_id", e.USER_PWD "user_pwd", e.USER_NAME "user_name", e.USER_BIRTH "user_birth", a.CATEGORY_NAME "category_name1", b.CATEGORY_NAME "category_name2", c.CATEGORY_NAME "category_name3", e.EMAIL "email", e.PHONE "phone", d.GRADE_NAME "grade_name", e.STATUS "status"
FROM USER_INFO e
LEFT JOIN CATEGORY_INFO a ON e.INTEREST_MOVIE = a.CATEGORY_TYPE
LEFT JOIN CATEGORY_INFO b ON e.INTEREST_DISPLAY = b.CATEGORY_TYPE
LEFT JOIN CATEGORY_INFO c ON e.INTEREST_SHOW = c.CATEGORY_TYPE
LEFT JOIN GRADE d ON e.GRADE_NO = d.GRADE_NO
WHERE USER_NO = ?
</entry>
<entry key="updateMember">
UPDATE USER_INFO
SET USER_ID = ?, USER_PWD = ?, USER_NAME = ?, USER_BIRTH = ?, EMAIL = ?, PHONE = ?, GRADE_NO = ?
WHERE USER_NO = ?
</entry>
<entry key="deleteMemberByUserNo">
DELETE FROM USER_INFO
WHERE USER_NO = ?
</entry>
</properties>