<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="selectProductListCountByLocal">
SELECT COUNT(*) "count"
FROM PRODUCT
LEFT JOIN LOCAL_INFO ON (PRODUCT.LOCAL_NO = LOCAL_INFO.LOCAL_NO)
WHERE LOCAL_TITLE LIKE ?
</entry>
<entry key="selectProductListCountByName">
SELECT COUNT(*) "count"
FROM PRODUCT
WHERE PRODUCT_TITLE LIKE ?
</entry>
<entry key="selectProductListCountByNo">
SELECT COUNT(*) "count"
FROM PRODUCT
WHERE PRODUCT_NO = ?
</entry>
<entry key="selectListCount">
SELECT COUNT(*) "count"
FROM PRODUCT
</entry>
<entry key="searchProductByLocal">
SELECT PRODUCT_NO, CATEGORY_NAME, PRODUCT_TITLE, LOCAL_TITLE, ADDRESS, START_PERIOD, END_PERIOD, LEVEL_NAME, RUN_TIME, PRICE
FROM (
    SELECT ROWNUM AS RN, PRODUCT_NO, CATEGORY_NAME, PRODUCT_TITLE, LOCAL_TITLE, ADDRESS, START_PERIOD, END_PERIOD, LEVEL_NAME, RUN_TIME, PRICE
    FROM (
        SELECT PRODUCT_NO, CATEGORY_NAME, PRODUCT_TITLE, LOCAL_TITLE, ADDRESS, START_PERIOD, END_PERIOD, LEVEL_NAME, RUN_TIME, PRICE
        FROM PRODUCT
        JOIN CATEGORY_INFO USING (CATEGORY_TYPE)
        JOIN LOCAL_INFO USING (LOCAL_NO)
        JOIN LEVEL_INFO USING (PRODUCT_LEVEL)
        WHERE LOCAL_TITLE LIKE ?
        ORDER BY PRODUCT_NO DESC
    )
)
WHERE RN BETWEEN ? AND ?
</entry>
<entry key="searchProductByName">
SELECT PRODUCT_NO, CATEGORY_NAME, PRODUCT_TITLE, LOCAL_TITLE, ADDRESS, START_PERIOD, END_PERIOD, LEVEL_NAME, RUN_TIME, PRICE
FROM (
    SELECT ROWNUM AS RN, PRODUCT_NO, CATEGORY_NAME, PRODUCT_TITLE, LOCAL_TITLE, ADDRESS, START_PERIOD, END_PERIOD, LEVEL_NAME, RUN_TIME, PRICE
    FROM (
        SELECT PRODUCT_NO, CATEGORY_NAME, PRODUCT_TITLE, LOCAL_TITLE, ADDRESS, START_PERIOD, END_PERIOD, LEVEL_NAME, RUN_TIME, PRICE
        FROM PRODUCT
        JOIN CATEGORY_INFO USING (CATEGORY_TYPE)
        JOIN LOCAL_INFO USING (LOCAL_NO)
        JOIN LEVEL_INFO USING (PRODUCT_LEVEL)
        WHERE PRODUCT_TITLE LIKE ?
        ORDER BY PRODUCT_NO DESC
    )
)
WHERE RN BETWEEN ? AND ?
</entry>
<entry key="searchProductByNo">
SELECT PRODUCT_NO, CATEGORY_NAME, PRODUCT_TITLE, LOCAL_TITLE, ADDRESS, START_PERIOD, END_PERIOD, LEVEL_NAME, RUN_TIME, PRICE
FROM (
    SELECT ROWNUM AS RN, PRODUCT_NO, CATEGORY_NAME, PRODUCT_TITLE, LOCAL_TITLE, ADDRESS, START_PERIOD, END_PERIOD, LEVEL_NAME, RUN_TIME, PRICE
    FROM (
        SELECT PRODUCT_NO, CATEGORY_NAME, PRODUCT_TITLE, LOCAL_TITLE, ADDRESS, START_PERIOD, END_PERIOD, LEVEL_NAME, RUN_TIME, PRICE
        FROM PRODUCT
        JOIN CATEGORY_INFO USING (CATEGORY_TYPE)
        JOIN LOCAL_INFO USING (LOCAL_NO)
        JOIN LEVEL_INFO USING (PRODUCT_LEVEL)
        WHERE PRODUCT_NO = ?
        ORDER BY PRODUCT_NO DESC
    )
)
WHERE RN BETWEEN ? AND ?
</entry>
<entry key="selectList">
SELECT PRODUCT_NO, CATEGORY_NAME, PRODUCT_TITLE, LOCAL_TITLE, ADDRESS, START_PERIOD, END_PERIOD, LEVEL_NAME, RUN_TIME, PRICE
FROM (
    SELECT ROWNUM AS RN, PRODUCT_NO, CATEGORY_NAME, PRODUCT_TITLE, LOCAL_TITLE, ADDRESS, START_PERIOD, END_PERIOD, LEVEL_NAME, RUN_TIME, PRICE
    FROM (
        SELECT PRODUCT_NO, CATEGORY_NAME, PRODUCT_TITLE, LOCAL_TITLE, ADDRESS, START_PERIOD, END_PERIOD, LEVEL_NAME, RUN_TIME, PRICE
        FROM PRODUCT
        JOIN CATEGORY_INFO USING (CATEGORY_TYPE)
        JOIN LOCAL_INFO USING (LOCAL_NO)
        JOIN LEVEL_INFO USING (PRODUCT_LEVEL)
        ORDER BY PRODUCT_NO DESC
    )
)
WHERE RN BETWEEN ? AND ?
</entry>
<entry key="getProductMovieCount">
SELECT COUNT(*) "count"
FROM PRODUCT
WHERE CATEGORY_TYPE BETWEEN 1 AND 4
</entry>
<entry key="getProductDisplayCount">
SELECT COUNT(*) "count"
FROM PRODUCT
WHERE CATEGORY_TYPE BETWEEN 5 AND 8
</entry>
<entry key="getProductShowCount">
SELECT COUNT(*) "count"
FROM PRODUCT
WHERE CATEGORY_TYPE BETWEEN 9 AND 12
</entry>
<entry key="getMovieList">
SELECT PRODUCT_NO, CATEGORY_NAME, PRODUCT_TITLE, LOCAL_TITLE, ADDRESS, START_PERIOD, END_PERIOD, LEVEL_NAME, RUN_TIME, PRICE
FROM (
    SELECT ROWNUM AS RN, PRODUCT_NO, CATEGORY_NAME, PRODUCT_TITLE, LOCAL_TITLE, ADDRESS, START_PERIOD, END_PERIOD, LEVEL_NAME, RUN_TIME, PRICE
    FROM (
        SELECT PRODUCT_NO, CATEGORY_NAME, PRODUCT_TITLE, LOCAL_TITLE, ADDRESS, START_PERIOD, END_PERIOD, LEVEL_NAME, RUN_TIME, PRICE
        FROM PRODUCT
        JOIN CATEGORY_INFO USING (CATEGORY_TYPE)
        JOIN LOCAL_INFO USING (LOCAL_NO)
        JOIN LEVEL_INFO USING (PRODUCT_LEVEL)
        WHERE CATEGORY_TYPE BETWEEN 1 AND 4
        ORDER BY PRODUCT_NO DESC
    )
)
WHERE RN BETWEEN ? AND ?
</entry>
<entry key="getDisplayList">
SELECT PRODUCT_NO, CATEGORY_NAME, PRODUCT_TITLE, LOCAL_TITLE, ADDRESS, START_PERIOD, END_PERIOD, LEVEL_NAME, RUN_TIME, PRICE
FROM (
    SELECT ROWNUM AS RN, PRODUCT_NO, CATEGORY_NAME, PRODUCT_TITLE, LOCAL_TITLE, ADDRESS, START_PERIOD, END_PERIOD, LEVEL_NAME, RUN_TIME, PRICE
    FROM (
        SELECT PRODUCT_NO, CATEGORY_NAME, PRODUCT_TITLE, LOCAL_TITLE, ADDRESS, START_PERIOD, END_PERIOD, LEVEL_NAME, RUN_TIME, PRICE
        FROM PRODUCT
        JOIN CATEGORY_INFO USING (CATEGORY_TYPE)
        JOIN LOCAL_INFO USING (LOCAL_NO)
        JOIN LEVEL_INFO USING (PRODUCT_LEVEL)
        WHERE CATEGORY_TYPE BETWEEN 5 AND 8
        ORDER BY PRODUCT_NO DESC
    )
)
WHERE RN BETWEEN ? AND ?
</entry>
<entry key="getShowList">
SELECT PRODUCT_NO, CATEGORY_NAME, PRODUCT_TITLE, LOCAL_TITLE, ADDRESS, START_PERIOD, END_PERIOD, LEVEL_NAME, RUN_TIME, PRICE
FROM (
    SELECT ROWNUM AS RN, PRODUCT_NO, CATEGORY_NAME, PRODUCT_TITLE, LOCAL_TITLE, ADDRESS, START_PERIOD, END_PERIOD, LEVEL_NAME, RUN_TIME, PRICE
    FROM (
        SELECT PRODUCT_NO, CATEGORY_NAME, PRODUCT_TITLE, LOCAL_TITLE, ADDRESS, START_PERIOD, END_PERIOD, LEVEL_NAME, RUN_TIME, PRICE
        FROM PRODUCT
        JOIN CATEGORY_INFO USING (CATEGORY_TYPE)
        JOIN LOCAL_INFO USING (LOCAL_NO)
        JOIN LEVEL_INFO USING (PRODUCT_LEVEL)
        WHERE CATEGORY_TYPE BETWEEN 9 AND 12
        ORDER BY PRODUCT_NO DESC
    )
)
WHERE RN BETWEEN ? AND ?
</entry>
<entry key="selectManagerProduct">
SELECT PRODUCT_NO, CATEGORY_NAME, PRODUCT_TITLE, LOCAL_TITLE, ADDRESS, START_PERIOD, END_PERIOD, LEVEL_NAME, RUN_TIME, PRICE
FROM PRODUCT
JOIN CATEGORY_INFO USING (CATEGORY_TYPE)
JOIN LOCAL_INFO USING (LOCAL_NO)
JOIN LEVEL_INFO USING (PRODUCT_LEVEL)
WHERE PRODUCT_NO = ?
</entry>
<entry key="selectManagerProductImg">
SELECT PRODUCT_NO, POSTER_NAME, DETAIL1_NAME, DETAIL2_NAME, DETAIL3_NAME, DETAIL4_NAME, DETAIL5_NAME, IMAGE_PATH
FROM PRODUCT_IMG
WHERE PRODUCT_NO = ?
</entry>
<entry key="selectManagerScreenInfo">
SELECT PRODUCT_NO, SCREENING_DATE, SCREENING_DAY_TIME, SCREENING_NIGHT_TIME, SCREENING_DAY_SEAT, SCREENING_NIGHT_SEAT
FROM SCREENING_INFO
WHERE PRODUCT_NO = ?
</entry>
<entry key="updateProduct">
UPDATE PRODUCT
SET CATEGORY_TYPE = ?, PRODUCT_TITLE = ?, LOCAL_NO = ?, ADDRESS = ?, PRODUCT_LEVEL = ?, RUN_TIME = ?, PRICE = ?
WHERE PRODUCT_NO = ?
</entry>
<entry key="insertProductImg">
INSERT INTO PRODUCT_IMG
(PRODUCT_NO, POSTER_NAME, DETAIL1_NAME, DETAIL2_NAME, DETAIL3_NAME, DETAIL4_NAME, DETAIL5_NAME, IMAGE_PATH)
VALUES
(?, ?, ?, ?, ?, ?, ?, ?)
</entry>
<entry key="deleteProductImg">
DELETE FROM PRODUCT_IMG
WHERE PRODUCT_NO = ?
</entry>
<entry key="selectImgFileList">
SELECT POSTER_NAME, DETAIL1_NAME, DETAIL2_NAME, DETAIL3_NAME, DETAIL4_NAME, DETAIL5_NAME
FROM PRODUCT_IMG
WHERE PRODUCT_NO = ?
</entry>
<entry key="selectReviewCount">
SELECT COUNT(*) "count"
FROM REVIEW_INFO
WHERE PRODUCT_NO = ?
</entry>
<entry key="selectReviewList">
SELECT REVIEW_NO, PRODUCT_NO, REVIEW_CONTENT, USER_NO, REVIEW_DATE
FROM (
    SELECT ROWNUM AS RN, REVIEW_NO, PRODUCT_NO, REVIEW_CONTENT, USER_NO, REVIEW_DATE
    FROM (
        SELECT REVIEW_NO, PRODUCT_NO, REVIEW_CONTENT, USER_NO, REVIEW_DATE
        FROM REVIEW_INFO
        WHERE PRODUCT_NO = ?
        ORDER BY REVIEW_NO DESC
    )
)
WHERE RN BETWEEN ? AND ?
</entry>
<entry key="searchFileNameExist1">
SELECT COUNT(*) "count"
FROM PRODUCT_IMG
WHERE POSTER_NAME = ?
</entry>
<entry key="searchFileNameExist2">
SELECT COUNT(*) "count"
FROM PRODUCT_IMG
WHERE DETAIL1_NAME = ?
</entry>
<entry key="searchFileNameExist3">
SELECT COUNT(*) "count"
FROM PRODUCT_IMG
WHERE DETAIL2_NAME = ?
</entry>
<entry key="searchFileNameExist4">
SELECT COUNT(*) "count"
FROM PRODUCT_IMG
WHERE DETAIL3_NAME = ?
</entry>
<entry key="searchFileNameExist5">
SELECT COUNT(*) "count"
FROM PRODUCT_IMG
WHERE DETAIL4_NAME = ?
</entry>
<entry key="searchFileNameExist6">
SELECT COUNT(*) "count"
FROM PRODUCT_IMG
WHERE DETAIL5_NAME = ?
</entry>
<entry key="selectReviewCountByUserNo">
SELECT COUNT(*) "count"
FROM REVIEW_INFO
WHERE PRODUCT_NO = ? AND USER_NO = ?
</entry>
<entry key="selectReviewCountByDate">
SELECT COUNT(*) "count"
FROM REVIEW_INFO
WHERE PRODUCT_NO = ? AND REVIEW_DATE = ?
</entry>
<entry key="selectReviewListByUserNo">
SELECT REVIEW_NO, PRODUCT_NO, REVIEW_CONTENT, USER_NO, REVIEW_DATE
FROM (
    SELECT ROWNUM AS RN, REVIEW_NO, PRODUCT_NO, REVIEW_CONTENT, USER_NO, REVIEW_DATE
    FROM (
        SELECT REVIEW_NO, PRODUCT_NO, REVIEW_CONTENT, USER_NO, REVIEW_DATE
        FROM REVIEW_INFO
        WHERE PRODUCT_NO = ? AND USER_NO = ?
        ORDER BY REVIEW_NO DESC
    )
)
WHERE RN BETWEEN ? AND ?
</entry>
<entry key="selectReviewByReviewNo">
SELECT REVIEW_NO, PRODUCT_NO, REVIEW_CONTENT, USER_NO, REVIEW_DATE
FROM (
    SELECT REVIEW_NO, PRODUCT_NO, REVIEW_CONTENT, USER_NO, REVIEW_DATE
    FROM (
        SELECT REVIEW_NO, PRODUCT_NO, REVIEW_CONTENT, USER_NO, REVIEW_DATE
        FROM REVIEW_INFO
        WHERE PRODUCT_NO = ? AND REVIEW_NO = ?
        ORDER BY REVIEW_NO DESC
    )
)
</entry>
<entry key="selectReviewListByDate">
SELECT REVIEW_NO, PRODUCT_NO, REVIEW_CONTENT, USER_NO, REVIEW_DATE
FROM (
    SELECT ROWNUM AS RN, REVIEW_NO, PRODUCT_NO, REVIEW_CONTENT, USER_NO, REVIEW_DATE
    FROM (
        SELECT REVIEW_NO, PRODUCT_NO, REVIEW_CONTENT, USER_NO, REVIEW_DATE
        FROM REVIEW_INFO
        WHERE PRODUCT_NO = ? AND REVIEW_DATE = ?
        ORDER BY REVIEW_NO DESC
    )
)
WHERE RN BETWEEN ? AND ?
</entry>
<entry key="deleteReview">
DELETE FROM REVIEW_INFO
WHERE REVIEW_NO = ?
</entry>
<entry key="selectReviewCountByRno">
SELECT COUNT(*) "count"
FROM REVIEW_INFO
WHERE REVIEW_NO = ? AND PRODUCT_NO = ?
</entry>
<entry key="deleteProductReview">
DELETE FROM REVIEW_INFO
WHERE PRODUCT_NO = ?
</entry>
<entry key="deleteProduct">
DELETE FROM PRODUCT
WHERE PRODUCT_NO = ?
</entry>
<entry key="deleteProductScreenInfo">
DELETE FROM SCREENING_INFO
WHERE PRODUCT_NO = ?
</entry>
<entry key="countImgFile1">
SELECT COUNT(*) "count"
FROM PRODUCT_IMG
WHERE POSTER_NAME = ?
</entry>
<entry key="countImgFile2">
SELECT COUNT(*) "count"
FROM PRODUCT_IMG
WHERE DETAIL1_NAME = ?
</entry>
<entry key="countImgFile3">
SELECT COUNT(*) "count"
FROM PRODUCT_IMG
WHERE DETAIL2_NAME = ?
</entry>
<entry key="countImgFile4">
SELECT COUNT(*) "count"
FROM PRODUCT_IMG
WHERE DETAIL3_NAME = ?
</entry>
<entry key="countImgFile5">
SELECT COUNT(*) "count"
FROM PRODUCT_IMG
WHERE DETAIL4_NAME = ?
</entry>
<entry key="countImgFile6">
SELECT COUNT(*) "count"
FROM PRODUCT_IMG
WHERE DETAIL5_NAME = ?
</entry>
</properties>